:root {
    --orange-clair: oklch(0.855 0.140 55.029);
    --orange-fonce: oklch(0.780 0.140 55.029);
    --jaune-clair: oklch(0.855 0.140 75.029);
    --jaune-fonce: oklch(0.780 0.140 75.029);
    --bgc-header: #f2f2f2; /*gris clair */
    --text-header: #333;    /* gris foncé */
    --border-color: #ddd    /* gris */
}
table {
    width: 100%;
}

th {
    background-color: var(--bgc-header);
}
